<%- include ('partials/header.ejs') %>

<h1><%= title %></h1>

	<p>Are you sure you want to delete <%= game.game_name %>?</p>

	<form method="POST" action="/delete-game/<%= game.game_id %>">
		<button type="submit" name="delete" value="Yes">Yes</button>
		<button type="submit" name="delete" value="No">No</button>
	</form>

<%- include ('partials/footer.ejs') %>
