<%- include('partials/header.ejs') %>

<style>
body {
	background-image: url('https://cdn.dribbble.com/users/5946079/screenshots/15259180/playing-background-design-1600-x-1200_4x.jpg');
	background-size: cover;
	color: white;
}
table {
	border-collapse: collapse;
	width: 100%;
	max-width: 600px;
}

th, td {
	text-align: center;
	padding: 10px;
}

td {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-radius: 5px;
}
</style>


<div style="display: flex; justify-content: space-between;">
	<div style="width: 45%; border: 2px solid #ddd; border-radius: 10px; padding: 10px; background-color: rgba(0, 0, 0, 0.8);">
	    <h1>Games</h1>
	    <button onclick="location.href='/add-game'">Add Game</button>
	    <table>
	        <thead>
	            <tr>
	            	<th>Image</th>
	                <th>Name</th>
	                <th>Last Played</th>
	                <th>Edit</th>
	                <th>Delete</th>
	            </tr>
	        </thead>
	        <tbody style="text-align: center;">
	            <% for (var i = 0; i < games.length; i++) { %>
	                <tr>
						<td><img src="<%= games[i].game_image %>" style="max-height: 100px; max-width: 100px;"></td>
	                    <td><%= games[i].game_name %></td>
	                    <td><%= games[i].last_played ? games[i].last_played.toLocaleString('en-US', { timeZone: 'UTC', hourCycle: 'h12', hour12: true }) : '' %></td>
	                	<td><button onclick="location.href='/edit-game/<%= games[i].game_id %>'">Edit</button></td>
	                	<td><button onclick="location.href='/delete-game/<%= games[i].game_id %>'">Delete</button></td>
	                </tr>
	            <% } %>
	        </tbody>
	    </table>
	</div>
	<div style="width: 45%; border: 2px solid #ddd; border-radius: 10px; padding: 10px; background-color: rgba(0, 0, 0, 0.8);">
		<h1>Game Sessions</h1>
		<button onclick="location.href='/add-game-session'">Add Game Session</button>
    	<table>
	        <thead>
	            <tr>
	                <th>Game</th>
	                <th>Time Started</th>
	                <th>Edit</th>
	                <th>Delete</th>
	            </tr>
	        </thead>
	        <tbody style="text-align: center;">
	            <% for (var i = 0; i < gameSessions.length; i++) { %>
	                <tr>
						<td><%= gameSessions[i].game_name %></td>
						<td><%= gameSessions[i].game_session_start_date.toLocaleString('en-US', { timeZone: 'UTC', hourCycle: 'h12', hour12: true }) %></td>
	                	<td><button onclick="location.href='/edit-game-session/<%= gameSessions[i].game_session_id %>'">Edit</button></td>
	                	<td><button onclick="location.href='/delete-game-session/<%= gameSessions[i].game_session_id %>'">Delete</button></td>
	                </tr>
	            <% } %>
	        </tbody>
    	</table>
	</div>
</div>

<%- include ('partials/footer.ejs') %>
